.chat__button{
    color: rgba(255, 255, 255, 0.911);
    text-shadow: 1px 1px 2px black, 0 0 25px blue, 0 0 5px darkblue;
    box-shadow: 10px 10px grey;
    width: 80px;
    background: rgba(0, 0, 0, 0.219);
}