h6 {
    color: #222222;
    font-size: 70px;
    font-weight: bold;
    width: 750px;
    margin: 85px auto;
    text-align: center;
    font-family: 'Hammersmith One', sans-serif;
}

label {
    float: left;
    top: 5px;
    letter-spacing: 0px;
    font-size: 25px;
    color: rgb(34, 34, 34);
    font-family: 'Hammersmith One', sans-serif;
    -webkit-transform-origin: left;
    transform-origin: left;
    transition: inherit;
}

button, input, select, textarea {
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
    font-family: 'Hammersmith One', sans-serif;
}

.chatData {
    width: 730px;
    background-color: #222222;
    border: 2px solid #dedede;
    border-radius: 5px;
    overflow: scroll;
    height: 400px;
    float: left;
    display: inline;
    margin-left: 20px;
}
