.homeFont {
    font-family: 'Hammersmith One', sans-serif;
    text-align: center;
    font-size: 70px;
}
.aboutFont {
    text-align: left;
    font-size: 20px;
    text-align: center;
    font-family: 'Hammersmith One', sans-serif;

}