.homeFont {
    font-family: 'Hammersmith One', sans-serif;
    text-align: center;
    font-size: 70px;
}
.aboutFont {
    text-align: left;
    font-size: 20px;
    text-align: center;
    font-family: 'Hammersmith One', sans-serif;
}
.bestmatch{
    background: rgba(255, 174, 0, 0.87);
    font-style: italic;
    text-shadow: 3px 2px;
font-size: 50px;
text-align: center;
    font-weight:bold;
    color:rgb(11, 136, 238);
    width:570px;
    -webkit-animation: switch-color 2s ease 0s infinite normal ;
    animation: switch-color 2s ease 0s infinite normal ;
}
   
   @-webkit-keyframes switch-color {
    0%{
        color:rgb(4, 48, 245);
      }
      100%{
        color:rgb(231, 13, 31);
     }
   }
   
   @keyframes switch-color {
     0%{
       color:rgb(4, 48, 245);
     }
     100%{
       color:rgb(231, 13, 31);
     }
   }
.fullname{
    font-size: 25px;
    background: rgba(255, 174, 0, 0.87);
    font-weight: bold;
    font-style: italic;
}
.bio{
    font-size: 25px;
    background: rgba(255, 174, 0, 0.87);
    font-weight: bold;
    font-style: italic;
}
.portfolio{
    font-size: 25px;
    background: rgba(255, 174, 0, 0.87);
    font-weight: bold;
    font-style: italic;
    
}
.bio1{

}
/* .bio1{
    font-size:70px;
    font-weight:bold;
    color:rgba(8, 21, 212, 0.904);
    width:700px;
   
    -webkit-animation: genres 2s ease 0s infinite normal ;
    animation: genres 2s ease 0s infinite normal ;
   }
   
   @-webkit-keyframes genres {
    0%{
        opacity: 0;
        transform: scale3d(0.4, 0.4, 0.4);
      }
      40%{
        opacity: 1;
        transform: scale3d(1,1,1);
     }
   }
   
   @keyframes genres {
     0%{
       opacity: 0;
       transform: scale3d(0.4, 0.4, 0.4);
     }
     40%{
       opacity: 1;
       transform: scale3d(1,1,1);
     }
   } */