
.welcome{
    color: rgb(14, 15, 20);
    font-size:70px;
    font-weight:bold;
    width:750px;
    margin:85px auto;
    -webkit-animation: zoom-in-out 4s linear 0s infinite normal ;
    animation: zoom-in-out 4s linear 0s infinite normal ;
  
}
 @-webkit-keyframes zoom-in-out {
   0%{
   -webkit-transform: scale(1);
   transform: scale(1);
  }
  50%{
	-webkit-transform: scale(1.2);
	transform: scale(1.2);
  }
  100%{
	-webkit-transform: scale(1);
	transform: scale(1);
  }
}

@keyframes zoom-in-out {
  0%{
	-ms-transform: scale(1);
	transform: scale(1);
  }
  50%{
	-ms-transform: scale(1.2);
	transform: scale(1.2);
  }
  100%{
	-ms-transform: scale(1);
	transform: scale(1);
  }
}

.chatData{
    width: 550px;
    background-color: rgba(45, 143, 150, 0.952);
    border: 2px solid #dedede;
    border-radius: 5px;
    overflow: scroll;
    height: 580px;
    float: left;
    display: inline;
    margin-left: 20px;
    

   
}

   
