
h6{
    color: #1B37C1;
    font-size:70px;
    font-weight:bold;
    width:750px;
    margin:85px auto;
    -webkit-animation: zoom-in-out 2s linear 0s infinite normal ;
    animation: zoom-in-out 2s linear 0s infinite normal ;
  
}
 @-webkit-keyframes zoom-in-out {
   0%{
   -webkit-transform: scale(1);
   transform: scale(1);
  }
  50%{
	-webkit-transform: scale(1.2);
	transform: scale(1.2);
  }
  100%{
	-webkit-transform: scale(1);
	transform: scale(1);
  }
}

@keyframes zoom-in-out {
  0%{
	-ms-transform: scale(1);
	transform: scale(1);
  }
  50%{
	-ms-transform: scale(1.2);
	transform: scale(1.2);
  }
  100%{
	-ms-transform: scale(1);
	transform: scale(1);
  }
}

.chatData{
    width: 730px;
    background-color: #99A8F0;
    border: 2px solid #dedede;
    border-radius: 5px;
    overflow: scroll;
    height: 580px;
    float: left;
    display: inline;
    margin-left: 20px;
    

   
}
   
  /* .chatData::-webkit-scrollbar-thumb {
    background: #888; 
  }

  .chatData::-webkit-scrollbar-thumb:hover {
    background: #555; 
  }  */