body {
  width: 100w;
  height: 100vh;
  background: #159957; /* fallback for old browsers */
  background: -webkit-linear-gradient(
     to left,
     #155799
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
     to left,
     #155799
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
}

.music {
  width: 100px;
  height: 130px;
  position: absolute;
  animation: music 8s ease-in-out infinite;
  top: 100%;
}

.music.one {
  left: 30%;
  animation: music 8s 1s ease-in-out infinite;
}

.music.three {
  right: 30%;
  animation: music 8s 2s ease-in-out infinite;
}

@keyframes music {
  0%,
  100% {
     transform: rotate(15deg);
     opacity: 0;
     left: 0;
     top: 100%;
  }
  33% {
     transform: rotate(-10deg);
     opacity: 1;
     left: 50%;
  }
  66% {
     transform: rotate(10deg);
     top: 0;
     opacity: 1;
     opacity: 0;
     left: 90%;
  }
}

.music span {
  background-color: white;
  content: "";
  position: absolute;
}

.music:nth-child(1) span {
  background-color: white;
}

.music:nth-child(2) span {
  background-color: white;
}

.music:nth-child(3) span {
  background-color: white;
}

.music span:nth-child(1) {
  border-radius: 100%;
  width: 30px;
  height: 30px;
  display: block;
  bottom: 0px;
}

.music span:nth-child(2) {
  border-radius: 100%;
  width: 30px;
  height: 30px;
  bottom: 20px;
  right: 0px;
}

.music span:nth-child(3) {
  width: 10px;
  height: 90px;
  bottom: 13px;
  left: 20px;
  border-radius: 5px;
}

.music span:nth-child(4) {
  width: 10px;
  height: 97px;
  bottom: 33px;
  right: 0px;
  border-radius: 5px;
}

.music span:nth-child(5) {
  width: 80px;
  height: 20px;
  border-radius: 5px;
  top: 13px;
  left: 20px;
  transform: rotate(-21deg);
}

